{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Applications</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/FlexBox.css'%}"/>
  </head>
  <header>
    <div class="dropdown"style="float:right; background-color: #4CAF50;">
  <button class="dropbtn"  style="margin-right: 10px;">DropDown</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="#">Coming Soon</a>
  </div>
    </div>

  </header>
  <body>
    <main>
      <h1>Applications</h1>
      <hr>


  </div>

      <div class ="flex-container">
        <div class="box2"><a href="bills/">
          <img style="border-radius: 50px" width="100%" src="{% static 'css/pln1.jpg' %}" alt="Picture Of Zolty symbol" /></a>
        </div>
          <div class="box2"><a href="todos/">
            <img width="100%" src="{% static 'css/Todo1.jpg' %}" style="border-radius: 50px" alt="Picture of Todo"/>
          </a></div>

</div>

    </main>

  </body>
</html>