{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Bills</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Todo Application.">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<style>
    
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
    
  th, td {
  padding: 3px;
  text-align: left;
  }
    
</style>
</head>
   <body style="Background-color:Brown">
<header>
   <h1 id="myh1" style="margin-top:20px;">Table Of Bills</h1>
    <hr>
</header>
  <br/>
    <div>
       <table style="width:35%">
          <thead>
            <tr>
             <th>BillName</th>
               <td>Cost</td>
            </tr>
         {% for bill in bills %}
     <tr>
        <td style="font-size:2em;">
            <big>{{bill.title}}</big></td>
        <td style="font-size:2.5em;">{{bill.amount}}</td>
    </tr>
         {% endfor %}
         </thead>
       <tbody>
     <tr>
   </tr>
</table>
    </div>
       <a href="amounts/">Add Bill</a>
         <br>
          <a href="/apps">Applications</a>
        <br/>
     <a href='/'>Home</a>
  </body>
</html>
